<section class="container" id="about">
    <img src="/assets/img/intro.png" width="50%"/>
    <div class="content">
        <h3>About the Conference</h3>
        <p>
            Startup 2020 is a day conference on technology and entrepreneurship – to explore startup culture and networking among various sectors. We are interested in a diverse range of students with a wide range of backgrounds. Please check out our website for more details. To be a part of this conference, you need to know your […]
        </p>
        <a class="btn btn-primary">Read More</a>
    </div>
</section>
