<section class="container" id="statistics">
    <div class="content">
        <h4>Yet another reason for you to attend</h4>
        Design Camp is a photo-based storytelling training course. It’ll last about six months and you can learn the
        skills to tell your own story in 2 to 4 hours. You’ll get enough feedback to choose the option.
        <div>
            <a class="btn btn-primary" href="#pricing">But Tickets</a>
        </div>
    </div>
    <div class="numbers">
        <div>
            <span class="value">{{ site.data.statistics.speakers }}</span>
            <span class="hr"></span>
            <span class="name">Speakers</span>
        </div>
        <div>
            <span class="value">{{ site.data.statistics.stalls }}</span>
            <span class="hr"></span>
            <span class="name">Participants</span>
        </div>
        <div>
            <span class="value">{{ site.data.statistics.participants }}</span>
            <span class="hr"></span>
            <span class="name">Stalls</span>
        </div>
    </div>
</section>
