<section id="venue" style="">
    <div class="container">
        <h1>Venue</h1>
        <div class="content">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.212768435846!2d103.85475083411009!3d1.2925005372168845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19b922a614c5%3A0xee86c81bf5a0b783!2sMarina%20Bay!5e0!3m2!1sen!2snp!4v1608965339705!5m2!1sen!2snp"
                        width="400" height="300"></iframe>
            </div>
            <div>
                <h4>Lifelong Learning Institute</h4>
                <div>Singapore</div>
                Learn about the benefits, opportunities and exposure that come from exhibiting your business in Startup
                Alley — from founders just like you. Now, 2020 is a year like no other — not exactly a newsflash, right?
                Digital Startup Alley may be virtual, but the connections and opportunities that come from exhibiting there
                are very real.
            </div>
        </div>
    </div>
</section>
